# If you want to work on the documentation, you will need at least these 
#  packages they are not pinned to any particular version because you might be
#  working on the docs at some point in the future.

Django
django-guardian
easy-thumbnails
html2text
htmltext
Sphinx
