# Django
Django==2.0.3

# Imaging library needed for easy_thumbnails
http://effbot.org/downloads/Imaging-1.1.7.tar.gz

# Thumbails used for mugshots
easy-thumbnails==2.5

# Django-guardian used for privacy settings
django-guardian==1.4.9

# Django-south for migrations
South

# Coverage for testing
django_coverage
